{% extends 'base.html' %}
{% block head %}
<title>Index</title>
<style>
    .container {
        margin: 1em;
        align-content: center;
    }
</style>
{% endblock %}
{% block body %}
<form>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h2>
                        <u>Welcome To Our Amazing Website</u>
                    </h2>
                    <p>
                    <h3>
                        This is the best website that every one would want to have
                    </h3>
                    </p>
                </div>

            </div>
            <div class="card-footer">

            </div>

        </div>

    </div>
</form>
{% endblock %}