{% extends 'base.html' %}
{% block head %}
    <title>Login</title>
    <style>
      .container {
        background-image: url(../static/lock01.jpg);
        color: white;
      }
      .transparent-input, .transparent-input:focus {
        background-color: rgba(0, 0, 0, .5);
        color: lime;
        font-size: 26px;
      }
      .h1 {
        align-content: center;
      }
    </style>
{% endblock %} 
{% block body %} 
<form method="post"> {% csrf_token %}<br>
  <div class="container card card-body">
    <h1 class="h1">Login*</h1>
    <div class="form-floating mb-3">
      <input name="email" type="email" class="form-control transparent-input" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input name="password" type="password" class="form-control transparent-input" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>
    <button type="submit" class="btn btn-outline-primary mt-3 mb-4">Login</button>
  </div>
</form>
{% endblock %}